@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap%27);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: white;
}

.header-container {
    width: 100%;
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    height: 60px;
}

.logo {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.header-container .content {
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.x {
    color: red;
}
 .cad {
     background-color: red;
     border: none;
     width: 200px;
     height: 40px;
     border-radius: 3px;
 }

 .login {
     background-color: transparent;
     border: none;
     color: lightgray;
     font-weight: bold;
     width: 50px;
     height: 40px;
 }

 .config {
     background-color: transparent;
     border: none;
     height: 40px;
     width: 20px;
 }

 .cad:hover {
    background-color: rgb(136, 0, 0);
    color: lightgray;
 }

 .login:hover {
     color: white;
     font-size: 15px;
 }

 .config:hover {
    color: white;
    font-size: 15px;
}
